@import '../../../../css/colors';

.small-title {
    padding: 0;
    margin: 0;
    height: 30px;
    background-color: $tp-light-gray;

    &__text {
        color: $tp-primary;
        text-transform: uppercase;
        font-style: italic;
        font-size: 20px;
        display: inline-block;
        height: 100%;
        vertical-align: bottom;
    }

    &__ornament {
        display: inline-block;
        background-color: $tp-primary;
        width: 30px;
        height: 100%;
        margin-right: 5px;
    }
}