%no-radius {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}

%shadow {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.55);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.55);
}